global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'otel-collector'
    static_configs:
      - targets: ['jaeger:8889']
  - job_name: 'jaeger'
    static_configs:
      - targets: ['jaeger:14269']
